.images-container{
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    flex-wrap: wrap;
    margin: 10%;
}

.image-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    border: 1px solid black;
    margin-top: 5%;
}
.image-box:hover{
    cursor: pointer;
}
.imageMain{
    height: 100%;
    width: 100%;
}